body{
    margin:0;
    padding:0;
    box-sizing: border-box;
    background-color:lightwhite;
   height:100vh;
    background-color: rgb(255, 255, 255);

  


}

 h2{
  height:10vh;
   color:rgb(30, 176, 233);
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif
}
.boxes{
  
    width:50%;
    margin:auto;
    display:flex;
    justify-content: space-around;
    align-items: center;
    height: 30%;
    cursor: default;
}
.box{
   background-color: white;
    width:25%;
    text-align: center;
    border-radius: 10px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 100;
    font-size: .9rem;

}
.confirmed{
  color:orange;

    box-shadow: 0 5px 1px orange,
                        1px -1px 0 rgb(245, 244, 240),
                        -1px -1px 0 rgb(247, 246, 241);

    transition: all .3s;

}

.recovered{
    box-shadow: 0 5px 0 rgb(68, 216, 68),
                        1px -1px 0 rgb(234, 240, 237),
                        -1px -1px 0 rgb(198, 207, 201);
    transition:all .3s;
    color:green;
}

.deaths{
    box-shadow: 0 5px 0 red,
                        1px -1px 0 rgb(250, 249, 248),
                        -1px -1px 0 rgb(245, 240, 240);


transition:all .3s;
color:red;
}

.confirmed:hover{
    box-shadow:0 5px 0 rgb(240, 145, 4),
    4px -3px 2px rgb(185, 179, 179);


    transform:scale(1.1);
  }
  .recovered:hover{
    box-shadow:0 5px 0 rgb(32, 230, 59),
    4px -3px 2px rgb(185, 179, 179);

    transform:scale(1.1);
  }
  .deaths:hover{
    box-shadow:0 5px 0 red,
                        4px -3px 2px rgb(185, 179, 179);

    transform:scale(1.1);
  }


#country{
  margin-top:10%;
  height:50px;
  width:125px;
  border-radius: 10px;
  background: lightblue;
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  outline: none;
  cursor: pointer;
 
  


}
option{
  width:100%;
  height: 100px;
  text-align:center;
  background: rgb(151, 213, 224);
  margin:50px;
  border-radius:10px;
  cursor: pointer;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  padding:1em;
  font-size: x-large;
  text-transform: capitalize;
}
.wrapper{
  height: 400px !important;
  width:400px !important;
}



 

/* Media Query for low resolution  Tablets, Ipads */ 
@media (max-width: 1024px) { 
  body { 
      background-color: rgb(255, 255, 255); 
  } 
  .boxes{
    width:80%;
    display:flex;
  }
  .box{
    margin:0 auto;
    width:25%;
  }
} 




/* Media Query for Tablets Ipads portrait mode */ 
@media (min-width: 768px) and (max-width: 1023px){ 
  body { 
      background-color:rgb(255, 255, 255); 
  } 
  .boxes{
    margin:200px  auto;
    display:flex;
    flex-direction: column;
    width:80%;
    
  }
  .box{
    margin:1em ;
    width:60%;
    padding:1.5em;
    font-size: 2em;
   
  }
  #country{
    top:70%;
  }
  h6{
    font-size: 2em;
  }
} 
@media(min-width:1025) {
  .boxes{
    display:flex;
    width:80%;

  }
  box{
    margin:0 auto;
    width:25%;
  }
}

/* Media Query for Laptops and Desktops */ 

 

h6{
  position: absolute;
  top:80%;
  left:50%;
  transform:translate(-50%,-50%);
  color:green;
  font-family: 'Courier New', Courier, monospace;
  
}

 
 h6 span a{
   text-decoration: none;
   
 }
 h6 span{
   text-decoration: underline;
 }